.varianttwo.embla,
.variantone.embla,
.embla {
  overflow: hidden;
  --slide-spacing: 1rem;
  --slide-size: 80%;
}

/* full */
.variantone.embla {
  --slide-height: 100%;
  --slide-size: 90%;
  --slide-spacing: 1rem;
}

/* gallery */
.varianttwo.embla {
  --slide-height: 30rem;
}

@media (min-width: 640px) {
  .variantone.embla {
    --slide-size: 30%;
  }

  .varianttwo.embla {
    --slide-height: 40rem;
  }
}

.embla__viewport {
  overflow: hidden;
}

.embla__container {
  backface-visibility: hidden;
  display: flex;
  touch-action: pan-y;
  margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
  flex: 0 0 var(--slide-size);
  min-width: 0;
  padding-left: var(--slide-spacing);
  position: relative;
}

.embla__slide__img,
.embla__parallax__img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.embla__slide__img {
  height: var(--slide-height);
}

.embla__parallax {
  height: 100%;
  overflow: hidden;
}

.embla__parallax__layer {
  position: relative;
  height: 100%;
  width: 100%;
}

.embla__parallax__img {
  max-width: none;
  width: calc(100% + (var(--slide-spacing) * 2));
  margin-left: calc(var(--slide-spacing) * -1);
}